:root{
    --dark-color: #19283f;
    --green-color: #33d1cc ;
    --section-color:#eff7fa; 
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}
.navbar .search{
    border-left: 1px solid var(--green-color);
}
.navbar .search svg{
    color: var(--green-color);
}
.navbar .navbar-toggler{
    color: white;
    font-size: 25px;
    border-color: white;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded = "true"]{
    border-color: var(--green-color);
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
    margin:0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
}
p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
}

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
}
.logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
}

.inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
}

.content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
0% {
    transform: translate3d(-90px,0,0);
    }
100% { 
    transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
.waves {
    height:40px;
    min-height:40px;
    }
.content {
    height:30vh;
    }
h1 {
    font-size:24px;
    }
}
.main-title::after{
    content: '';
    width: 120px;
    height: 2px;
    background-color: blue;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.feat .icon-holder{
    height: 200px;
    
}
.feat .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.feat .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}
.feat .icon-holder .icon{
    color: steelblue;
}
.our-work {
    background-color: var(--section-color);
}
.our-work ul .active{
    background-color: steelblue;
    color: var(--dark-color);

}
.our-work ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover {
    color: steelblue;
}
.our-work .box{
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: steelblue;
    width: calc(100% - 10px);
    width: calc(100% - 10px);
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover:before{
    transform: translateX(0); 
}
.stuff .description{
    max-width: 500px;
}
.team{
    background-color:  var(--section-color);
}
.team h2{
    color:  steelblue;
}
.team .box h4{
    background-color: cornflowerblue;
}
.project {
    background-color: var(--dark-color);
}
.subscribe{
    background-color: steelblue;
}
.subscribe input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus{
    outline: none;
}
.subscribe ::placeholder{
    color: white;
}
.subscribe input[type="submit"]{
    background-color: var(--dark-color);
    color: steelblue;
}
.footer{
    background-color: var(--dark-color);
}
.footer .copyright > span{
    color: var(--green-color);
}
.footer .copyright div span{
    color: steelblue;
}
.footer .content ul svg{
    width: 20px;
    height: 20px;
}
.footer .facebook{
    background-color: #1877f2;
}
.footer .twitter{
    background-color: #1da1f2;
}
.footer .linkedin{
    background-color: #0077b5;
}
.footer .youtube{
    background-color:#ff0000 ;
}